body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: navy;
  font-family: 'Londrina Outline';
}
#board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-left: 50px;
  cursor: pointer;
}
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: aqua;
}
h1 {
  color: aqua;
  font-size: 77px;
}
.right-border {
  border-right: 8px solid aqua;
}
.bottom-border {
  border-bottom: 8px solid aqua;
}
#scoreboard {
  text-align: center;
}
h2 {
  color: aqua;
  font-size: 50px;
}
h3 {
  color: aqua;
  font-size: 50px;
}
button {
  color: navy;
  font-size: 30px;
  cursor: pointer;
  background-color: aqua;
  border: navy;
}
.show {
  display: block;
}
.hide {
  display: none;
}
